.route_name {
    font-size: 1.5em;
    font-weight: bold;
}
table.route {
    border-collapse: separate;
    border-spacing: 0; 
    border: 0px solid Black;
    font-family: 'Helvetica', 'Arial', sans-serif;
}
table.route thead {
    position: sticky;
    top: 0;
}
table.route th {
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: center;
    background-color: LightSkyBlue;
}
table.route td {
    border-bottom: 1px solid;
}
table.route td,
table.route th {
    border-right: 1px solid;
    font-size: medium;
    padding: .1em .5em;
}
table.route td:first-child,
table.route th:first-child {
    border-left: 2px solid;
}
table.route td:last-child,
table.route th:last-child {
    border-right: 2px solid;
}
table.route tbody:not(:last-child) tr:last-child td:not(.region) {
    border-bottom: 0px solid;  /* just before the next region */
}
table.route tbody:last-child tr:last-child td:not(.region) {
    border-bottom: 2px solid;  /* last row of route */
}
table.route tbody tr.optional:nth-child(even) {
    background-color: Gold;
}
table.route tbody tr.optional {
    background-color: Yellow;
}
table.route tbody tr:nth-child(even) {
    background-color: Gainsboro;
}
table.route .region {
    background-color: LightSkyBlue;
    border-top: 2px solid;
    border-bottom: 2px solid;
    text-align: left;
    font-size: large;
    font-weight: bold;
}
table.route .action {
    text-align: left;
}
table.route .action .name {
    font-weight: bold;
}
table.route .souls,
table.route .item_souls,
table.route .bones
table.route .humanity
table.route .item_humanities {
    text-align: center;
}
table.route .add,
table.route .subtract,
table.route .detail {
    font-size: small;
}
table.route .add {
    color: DarkGreen;
    font-weight: bold;
}
table.route .subtract {
    color: Red;
    font-weight: bold;
}
table.route .detail {
    color: DarkBlue;
}
